.large-img {
  width: 100%;
  height: 100vh;
  background: rgb(85, 85, 85);
  opacity: 0.98;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 101;
  .exit-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.6rem 0.8rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    background: none;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.2);
    }
  }

  .prev-btn {
    position: absolute;
    left: 10rem;

    padding: 1rem;
    opacity: 0.7;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: none;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
    @media screen and (max-width: 1300px) {
      position: absolute;
      left: 2rem;
    }
    @media screen and (max-width: 768px) {
      position: absolute;
      left: 0.8rem;
    }
    @media screen and (max-width: 500px) {
      position: absolute;
      left: -0.6rem;
    }
  }
  .next-btn {
    position: absolute;
    right: 10rem;
    padding: 1rem;

    opacity: 0.7;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: none;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }
    @media screen and (max-width: 1300px) {
      position: absolute;
      right: 2rem;
    }
    @media screen and (max-width: 768px) {
      position: absolute;
      right: 0.8rem;
    }
    @media screen and (max-width: 500px) {
      position: absolute;
      right: -0.6rem;
    }
  }
  img {
    width: auto;
    max-width: 70%;
    max-height: 70%;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 5px;
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.gallery-container {
  .loading {
    position: relative;

    width: 6rem;
    z-index: 90;
    height: 6rem;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: rgb(29, 29, 29);
    animation: spinner 1s linear infinite;
    margin: 0 auto;
  }
  .gallery-title {
    margin: auto;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 600;

    @media screen and (min-width: 1450px) {
      font-size: 3rem;
      font-weight: 600;
      padding-top: 250px;
    }
  }
  .gallery-display {
    margin: auto;

    max-width: 2560px;
    width: 90%;
    padding: 20px;
    Mansory {
      padding: 20px;
    }
    @media screen and (max-width: 500px) {
      width: 95%;
    }
  }
  .img-container {
    overflow: hidden;
    img {
      transition: all 0.3s ease;
      @media screen and (min-width: 500px) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
